body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0px;
  background-color: #004e91;
  color: #dbdbdb;
  }

.header {
  padding: 40px;
  text-align: center;
  color: #dbdbdb;
  }

.textBackgroundColor {
  background-color: #CC00CC;
  color: white;
  }
