body {
    font-family: Helvetica;
    margin: 20px;
    padding: 0px;
    background-color: #eae6d7;
    color: #eae6d7;
}

.header {
    padding: 0px;
    text-align: left;
    padding-left: 30px;
    color: #74a1ce;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #174a1ce;
  text-align: right;
  padding-right: 30px
}
