body {
    font-family: Helvetica;
    margin: 20px;
    padding: 0px;
    background-color: #eae6d7;
    color: #eae6d7;
}

.header {
    padding: 0px;
    text-align: left;
    padding-left: 50px;
    color: #343432;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #343432;
  text-align: right;
  padding-right: 10px
}
