body {
    font-family: Helvetica;
    margin: 20px;
    padding: 0px;
    background-color: #f3f30ed;
    color: #f3f30ed;
}

.header {
    padding: 0px;
    text-align: left;
    padding-left: 35px;
    color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: right;
  padding-right: 10px
}
