body {
    font-family: Recife Display;
    margin: 20px;
    padding: 0px;
    background-color: #004e91;
    color: #dbdbdb;
}

.header {
    padding: 0px;
    text-align: left;
    padding-left: 30px;
    color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding-right: 30px
}
